body {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#map{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.title{
    position: absolute;
    font-size: 88px;
    color: black;
    text-transform: uppercase;
    z-index: 100;
    font-weight: bold;
    top: 100px;
    left: 100px;
}

.search-container{
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: #454E53;
    z-index: 100;
    top: 230px;
    left: 100px;
    border-radius: 40px;
    display: flex;
}

.search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input{

    flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;

}

.search-container input:focus{
    outline: none;
}

.search i{
    color: white;
    font-size: 25px;
}

.store-list-container{
    position: absolute;
    background: white;
    width: 400px;
    top: 320px;
    left: 100px;
    z-index: 100;
    border-radius: 30px;
    bottom: 20px;
}







